<%= link_to artists_root_path(artist), class: "list-group-item clearfix" do %>
	<div class="media">
  	<div class="media-body media-middle">
    	<h4 class="media-heading"><%= artist.name %></h4>
  	</div>
  </div>
<% end %>