$("<%=j render @artists %>").appendTo($("#artists"));
// Update pagination link
<% if @artists.last_page? %>
  $('#pagination').html("<h3 class='ui center aligned header'>The End</h3>");
<% else %>
  $('#pagination')
    .html("<%=j link_to_next_page(@artists, 'Show More', :remote => true, class: 'fluid ui button more-button') %>");
<% end %>