<% provide(:title, 'Artists') %>

<div class="sixteen wide column">
	<table id="artists" class="ui padded table">
		<tbody>
			<%= render @artists %>
		</tbody>
	</table>
	<div class="ui hidden divider"></div>
	<div id="pagination">
	  <%= link_to_next_page(@artists, 'Show More', :remote => true, class: "fluid ui button") %>
	</div>
</div>