<% provide(:title, 'Artists') %>
<div class="list-group">
	<% @artists.each do |a| %>
		<%= link_to artists_root_path(a), class: "list-group-item clearfix" do %>
			<div class="media">
				<div class="media-left">
		    	<%= image_tag("http://placehold.it/250x150", class: "image") %>
		  	</div>
		  	<div class="media-body media-middle">
		    	<h4 class="media-heading"><%= a.name %></h4>
		  	</div>
		  </div>
		<% end %>
	<% end %>
</div>
