<table id="videos" class="ui large table">
	<%= render @videos %>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@videos, 'Show More', :remote => true, class: "fluid ui button more-button") %>
</div>