<% provide(:title, 'Videos') %>
<div id="videos" class="list-group">
	<%= render @videos %>
</div>
<p id="pagination">
  <%= link_to_next_page(@videos, 'Load More', :remote => true, class: "btn btn-default btn-lg btn-block") %>
</p>