<div class="sixteen wide column">
	<h2 class="ui center aligned header red header">Contact</h2>
	<div class="ui hidden divider"></div>
	<h3 class="ui center aligned header">If you have any questions or would like an artist to be added, send us an email.</h3>
  <h3 class="ui center aligned header">admin@hiphoplog.com</h3>
	<h4 class="ui center aligned disabled header">Made by Chris Makoumbou</h4>
</div>
