$("<%=j render 'home/releases' %>").appendTo($("#releases"));
// Update pagination link
<% if @releases.last_page? %>
  $('#pagination').html("<h3 class='ui center aligned header'>The End</h3>");
<% else %>
  $('#pagination')
    .html("<%=j link_to_next_page(@releases, 'Show More', :remote => true, class: 'fluid ui button') %>");
<% end %>