<div class="sixteen wide column">
	<h2 class="ui center aligned header red header">Hiphoplog.com checks hundreds of youtube, soundcloud and spotify accounts every day to provide new videos, songs and albums from Hip Hop artists.</h2>
	<div class="ui hidden divider"></div>
	<table id="releases" class="ui large table">
		<%= render 'home/releases' %>
	</table>
	<div class="ui hidden divider"></div>
	<div id="pagination">
	  <%= link_to_next_page(@releases, 'Show More', :remote => true, class: 'fluid ui button more-button') %>
	</div>
</div>