<table id="songs" class="ui padded table">
	<tbody>
		<%= render @songs %>
	</tbody>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@songs, 'Show More', :remote => true, class: "fluid ui button") %>
</div>