<table id="songs" class="ui large table">
	<%= render @songs %>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@songs, 'Show More', :remote => true, class: 'fluid ui button more-button') %>
</div>