 <tr>
  <td>Song</td>
  <td><%= song.published_at.strftime("%B %d, %Y") %></td>
  <td><%= link_to song.name, "#{song.external_url}", :target => "_blank" %></td>
  <td><%= link_to song.channel.artist.name, artists_root_path(song.channel.artist) %></td>
</tr>