<table id="albums" class="ui padded table">
	<tbody>
		<%= render @albums %>
	</tbody>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@albums, 'Show More', :remote => true, class: "fluid ui button") %>
</div>