<table id="albums" class="ui large table">
	<%= render @albums %>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@albums, 'Show More', :remote => true, class: 'fluid ui button') %>
</div>