<tr>
  <td>Album</td>
  <td><%= album.published_at.strftime("%B %d, %Y") %></td>
  <td><%= link_to album.name, "https://open.spotify.com/album/#{album.key}", :target => "_blank" %></td>
  <td><%= link_to album.channel.artist.name, artists_root_path(album.channel.artist) %></td>
</tr>