body {
  padding-top: 70px;
}

/* Extra Small */
@media(max-width:767px){
	.image {
		width: 120px;
		height: 72px;
	}
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	.image {
		width: 170px;
		height: 96px;
	}
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	.image {
		width: 196px;
		height: 110px;
	}
}

/* Large */
@media(min-width:1200px){
	.image {
		width: 196px;
		height: 110px;
	}
}