<div class="ui fixed bottom three item menu">
	<%= link_to 'Videos', root_path, class: "item" %>
	<%= link_to 'Songs', root_path, class: "item" %>
	<%= link_to 'Albums', root_path, class: "item" %>
</div>