<div class="ui inverted fixed bottom large three item menu">
	<%= link_to videos_index_path, class: "item" do %>
    <i class="red video play icon"></i>Videos</a>
  <% end %>
	<%= link_to songs_index_path, class: "item" do %>
    <i class="red music icon"></i>Songs</a>
  <% end %>
		<%= link_to albums_index_path, class: "item" do %>
    <i class="red sound icon"></i>Albums</a>
  <% end %>
</div>