<div class="sixteen wide column">
	<div class="ui hidden divider"></div>
	<%- flash.each do |name, msg| -%>
	  <div class="ui red message">
	  	<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<%- end -%>
</div>