<div class="ui inverted fixed top large three item menu">
	<%= link_to artists_index_path, class: "item" do %>
    <i class="red users icon"></i>Artists</a>
  <% end %>
	<%= link_to root_path, class: "item" do %>
    <i class="red home icon"></i>Hiphoplog</a>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
  	<%= link_to rails_admin_path, class: "item" do %>
    	<i class="red privacy icon"></i>Admin</a>
  	<% end %>
	<% else %>
  	<%= link_to contact_path, class: "item" do %>
  		<i class="red mail icon"></i>Contact</a>
  	<% end %>
	<% end %>
</div>