<div class="ui fixed top three item menu">
	<%= link_to 'Artists', root_path, class: "item" %>
	<%= link_to 'Hiphoplog', root_path, class: "item" %>
	<%= link_to 'About', root_path, class: "item" %>
</div>